.skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    justify-content: center;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 1.25rem;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}

.skills__data .express {
    color: black;
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    /* column-gap: 2.5rem; */
}

.skills__group {

    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills .bx {
    font-size: 1.5rem;
    color: var(--title-color);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level {
    font-size: var(--tiny-font-size);
}

.skills__content:hover {
    background-color: rgb(1, 1, 3);
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
    color: whitesmoke;
}

.skills__sql-icon {
    color: black;
    height: 20px;
    width: 20px;
}

.skills__content:hover .skills__sql-icon {
    color: #005e86;
}

.skills__content:hover .skills__title {
    color: whitesmoke;
}

.skills__content:hover .skills__data img {
    background-color: white;
}

.skills__content:hover .skills__data .bxl-html5 {
    color: #dd4b25;
}

.skills__content:hover .skills__data .bxl-react {
    color: #61dafb;
}

.skills__content:hover .skills__data .bxl-css3 {
    color: #264de4;
}

.skills__content:hover .skills__data .bxl-javascript {
    color: #ffc928;
}

.skills__content:hover .skills__data .bxl-tailwind-css {
    color: #38bdf8;
}

.skills__content:hover .skills__data .bootstrap {
    color: #7510f0;
}

.skills__content:hover .skills__data .materialui {
    color: #007fff;
}

.skills__content:hover .skills__data .bxl-redux {
    color: #7248b6;
}

.skills__content:hover .skills__data .bxl-git {
    color: #e94e31;
}

.skills__content:hover .skills__data .bxl-nodejs {
    color: #5fa04e;
}

.skills__content:hover .skills__data .express {
    color: #aaa;
}

.skills__content:hover .skills__data .vercel {
    color: #ddd;
}

.skills__content:hover .skills__data .pug {
    color: #e8c69e;
}


.skills__content:hover .skills__data .nextjs {
    color: #74cdca;
}

.skills__content:hover .skills__data .bxl-mongodb {
    color: #429543;
}

.skills__content:hover .skills__data .bxl-firebase {
    color: #f79016;
}

.skills__content:hover .skills__data .bx-badge-check {
    color: #429543;
}

.skills__content:hover .skills__data h3 {

    color: whitesmoke;
}


.skills__content span.border {
    transition: all 0.3s ease;
    opacity: 0;
}

.skills__content span.border:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    /* background: linear-gradient(to right, transparent, #1779ff); */
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(26, 20, 161, 1) 8%, rgba(121, 14, 169, 1) 26%, rgba(139, 12, 176, 1) 53%, rgba(53, 23, 145, 1) 70%, rgba(167, 6, 144, 1) 100%, rgba(0, 212, 255, 1) 100%);
    animation: animate1 1s linear infinite;
    /* animation-delay: 1s; */
}

@keyframes animate1 {
    0% {

        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.skills__content span.border:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(26, 20, 161, 1) 8%, rgba(121, 14, 169, 1) 26%, rgba(139, 12, 176, 1) 53%, rgba(53, 23, 145, 1) 70%, rgba(167, 6, 144, 1) 100%, rgba(0, 212, 255, 1) 100%);
    /* background: linear-gradient(to bottom, transparent, #1779ff); */
    animation: animate2 1s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {

        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.skills__content span.border:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(26, 20, 161, 1) 8%, rgba(121, 14, 169, 1) 26%, rgba(139, 12, 176, 1) 53%, rgba(53, 23, 145, 1) 70%, rgba(167, 6, 144, 1) 100%, rgba(0, 212, 255, 1) 100%);
    /* background: linear-gradient(to left, transparent, #1779ff); */
    animation: animate3 1s linear infinite;
    /* animation-delay: 1s; */

}

@keyframes animate3 {
    0% {

        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.skills__content span.border:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    /* background: linear-gradient(to top, transparent, #1779ff); */
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(26, 20, 161, 1) 8%, rgba(121, 14, 169, 1) 26%, rgba(139, 12, 176, 1) 53%, rgba(53, 23, 145, 1) 70%, rgba(167, 6, 144, 1) 100%, rgba(0, 212, 255, 1) 100%);
    animation: animate4 1s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {

        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.skills__content:hover span.border {
    transition: all 0.3s ease;
    opacity: 1;
}


@media screen and (max-width: 992px) {}

/* For medium devices */
@media screen and (max-width: 768px) {
    .skills__container {
        /* grid-template-columns: max-content; */
        grid-template-columns: 0.65fr;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .skills__container {
        grid-template-columns: 1fr;

    }

    .skills__content {
        padding: 1.5rem;
    }

    .skills .bx {
        font-size: 1.25rem;

    }


}

/* For small devices */
@media screen and (max-width: 350px) {
    .skills__box {
        column-gap: 1.25rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }
}